@media (min-width: 900px) {
  h1,
  h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 70px;
    font-style: normal;
    text-align: center;
  }

  h3 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 60px;
    font-style: normal;
  }

  .color_block {
    background-color: #0e46a3;
    height: 5px;
  }

  .body_font {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    text-align: justify;
  }

  .centered-div {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 9px;
  }

  h1,
  h2 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-align: center;
  }

  h3 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    margin-left: 10px;
  }

  .color_block {
    background-color: #0e46a3;
    height: 5px;
  }

  div > ul {
    padding-left: 20px;
  }

  div > ol {
    padding-left: 20px;
  }

  div {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
  }

  .centered-div {
    max-width: 1000px;
    margin: 0 auto;
  }
}
